@model WebApplication1.Models.Contacts
<h1>@ViewData["Title"]</h1>

<p>Use this page to search contacts by name.</p>
<form asp-action="fin" asp-controller="home">
<label app-for="Name">Имя</label>
<input type="text" asp-for="Name"/>
<p>
    <input type="submit" value="Отправить" />
</p>
</form>